<?xml version="1.0" ?>
<robot name="square">
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="square.obj" scale="0.09899494936611665 0.09899494936611665 0.09899494936611665"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.009899494936611665 0.14 0.14"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.0032666666666666673" ixy="0.0" ixz="0.0" iyy="0.0016415000000000004" iyz="0.0" izz="0.0016415000000000004"/>
    </inertial>
  </link>
  <!--
    <link name="test">
        <visual>
            <geometry>
                <box size="${x} ${y} ${z}"/>
            </geometry>
            <material name="Miau">
                <color rgba="1.0 0.0 0.0 1"/>
            </material>
        </visual>
    </link>
    <joint name="base_link_to_test" type="fixed">
        <parent link="base_link"/>
        <child link="test"/>
    </joint>
    -->
</robot>
